@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
    /*border: 1px solid red;*/
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-rendering: optimizelegibility;
    margin: 0px;
    background: #f5f5f5 url('../images/bg.png');
    height: 100%;
}

#mainbody {
    float: right;
    width: 79%;
    /*border: 1px solid red;*/
    overflow: hidden;
}

#left{
    float: left;
    /*border: 1px solid red;*/
    width:66%;
    margin:0px 5px;
}

#right {
    float: right;
    /*border: 1px solid red;*/
    width:31%;
    margin:0px 5px;
}

#headerbar {
    background-color: #757575;
    border-bottom: 1px solid #b1b1b1;
    background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    margin-bottom: 10px;
    padding-right: 20px;
    -webkit-box-shadow: 0px 1px 7px rgba(50, 50, 50, 0.27);
    -moz-box-shadow:    0px 1px 7px rgba(50, 50, 50, 0.27);
    box-shadow:         0px 1px 7px rgba(50, 50, 50, 0.27);
}

.rolllink {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#headerbar p{
    float: right;
}

#content {
    /*border: 1px solid red;*/
}

#min_pane {
    /*border:1px solid red;*/
}

#sidebar {
    float: left;
    /*border: 1px solid red;*/
    width: 20%;
    margin:0px 5px;
}

.itemsToModify {
    margin: 0px;
}

.itemsToModify li {
    background-color: #FFF;
    border-bottom: 1px solid #ECECEC;
    padding: 7px 0px;
    overflow: hidden;
    margin-bottom: 1px;
}

button, .button {
    position: relative;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
    background-image: -moz-linear-gradient(top,#fff,#dedede);
    background-image: -o-linear-gradient(top,#fff,#dedede);
    background-image: -ms-linear-gradient(top,#fff,#dedede);
    background-image: linear-gradient(top,#fff,#dedede);
    border: #ccc solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    padding:4px;
}

button:focus, button:hover, button:active, .button:hover{
    border-color: #bbb;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d9d9d9));
    background-image: -moz-linear-gradient(top,#f8f8f8,#d9d9d9);
    background-image: -o-linear-gradient(top,#f8f8f8,#d9d9d9);
    background-image: -ms-linear-gradient(top,#f8f8f8,#d9d9d9);
    background-image: linear-gradient(top,#f8f8f8,#d9d9d9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.actionContainer .actions {
    border-top: 1px solid #d3dcee;
    margin: 0px;
    background-color: #ececec;
    padding: 7px;
}

table.vol_table .active {
    padding: 0;
}

.disabled {
    background: #dddddd !important;
    cursor: default !important;
    color: #aaa;
}

.disabled:hover {
    background: #dddddd !important;
    cursor: default;
}

table.vol_table .active {
    background-color: #cde3b2;
    border: 1px solid #9cc867;
    color: inherit;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.animate {
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.actionContainer {
    float: left;
    background-color: white;
    min-width: 200px;
    overflow: hidden;
    display: none;
    border: 1px solid #d3d3d3;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    color: #333;
    margin: 50px auto;
}

.caveat {
    vertical-align: middle;
    color: #5ea9f5;
    display: inline-block;
    /*-webkit-animation: spin 4s infinite linear;*/
}

/* '➦' */
.icon-forward-1:before {
  content: '\e818';
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.clear {
    clear: both;
    display: block;
}

.selectable tr.def_cursor:hover {
    cursor: default;
}

.error_msg {
    color: red;
    font-size: 12px;
    font-weight: 700;
}

.selectable tr.granted {
    background-color: #e2f2d5 !important;
}

.selectable tr.granted:hover {
    cursor: default !important;
    background-color: #e2f2d5 !important;
}

.selectable tr.highlight {
    background: #fcfce2 !important;
    border: 1px solid #9cc867 !important;
}

#newPartyForm {
    display: none;
    position: relative;
    top:20%;
}

.list {
    counter-reset: some-counter;
    border-top: 1px solid #E1E1E3;
    color: #446DB2;
    display: block;
    padding: 0px;
}

.popout {
    animation: popout 0.3s ease;
    -webkit-animation: popout 0.3s ease;
}

.popin {
    animation: popin 0.3s ease;
    -webkit-animation: popin 0.3s ease;
}

/** Animations */
@keyframes popout {
    from {
        transform: scale(0);
    };
    to {
        transform: scale(1);
    };
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(0);
    };
    to {
        -webkit-transform: scale(1);
    };
}

@keyframes popin {
    from {
        transform: scale(1);
    };
    to {
        transform: scale(0);
    };
}

@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(1);
    };
    to {
        -webkit-transform: scale(0);
    };
}

.list li {
    -moz-transition-timing-function: cubic-bezier(0.42,0.00,1.00,1.00);
}

.list li:before {
    content: counter(some-counter);
    counter-increment: some-counter;
    font-family: "Consolas";
    color: #000;
    font-size: 0.8em;
    border-right: 1px solid #e5e5e5;
    background-color: #eee;
    padding: 1.4em;
    margin-right: 10px;
}

.optional {
    display: none;
}

.sec_q {
    color: red;
    display: block;
}

.selectable td {
}

.selectable tr:hover {
    cursor: pointer;
}

.sidebar_list {
    /*border: 1px solid red;*/
}

.sidebar_list li{
    -webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .10);
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .10);
    list-style-type: none;
    background-color: white;
    text-align: center;
    padding: 7px;
}
.fade {
    opacity: .2;
}

.sidebar_list li:hover {
    background-color: #007fff;
    color: white;
    cursor: pointer;
}

.sidebar_list li.clicked {
    background-color: #007FFF;
    color:white;
}

.sidebar_list ul {
    padding: 0px;
}

.td_metadata {
    color: #909090;
    display: block;
}

a {
    color: #9cc867;
    text-decoration: none;
}

form {
    border: 1px solid #ececec;
    margin: 0 auto;
    padding: 10px;
    width: 230px;
}

input {
    margin-top: 5px;
    min-width: 200px;
    padding: 7px;
}

label,input:not([type='checkbox']) {
    display: block;
}

table.vol_table{
    background: #FFF;
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    width: 100%;
}

#specificDate {
    margin-top:10px;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    display: none;
    top: 0;
    left: 0;
}

table.vol_table td {
    border: 1px solid #d3d3d3;
    padding: 10px;
    text-align: left;
}

table.vol_table td.special {
    background-color: #e7ecf1;
    border-bottom: 1px solid #cbd7e2;
    color: #446DB2;
}

table.vol_table th {
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
    background: #5e82c2;
    border: 1px solid #436ab2;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
    color: #f7f7f7;
    font-weight: 700;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.selectable tr:not(:first-child) + :hover {
    background-color: #ececec;
}

.selectable tr:not(:first-child) + :nth-of-type(odd) {
    background-color: #f4f4f4;
}

ul, ol{
    list-style-type: none;
}